<h5>Modification des informations de la voiture</h5>
<form [formGroup]="carForm" (ngSubmit)="onModifier()">
    <label for="">Id Voiture</label>
    <input type="text" readonly class="form-control" formControlName="id">
    <div formGroupName="infos">
        <label>Marque:</label>
        <select formControlName="marque" class="form-control">
            <option *ngFor="let m of lesmarques" [value]="m">{{m}}</option>
        </select>
        <label>Modèle:</label>
        <input type="text" class="form-control" formControlName="modele">
        <label>Immatriculation:</label>
        <input type="text" class="form-control" formControlName="immatriculation">
    </div>
    <label>Puissance:</label>
    <input type="number" class="form-control" formControlName="puissance">
    <label>Photo:</label>
    <input type="text" class="form-control" formControlName="photo">

    <label>Date de mise en ciculation:</label>
    <input type="date" class="form-control" formControlName="dateCirculation">
    <label>Mode Automatique</label>
    <input type="checkbox" formControlName="estAutomatique">

    <div>
        Liste des accesoires
        <div formArrayName="listAccessoires">
            <div *ngFor="let d of ListAccessoires.controls;  index as i">
                <div [formGroupName]="i">
                    Propriété: <input type="text" formControlName="propriete">     
                    Valeur: <input type="text" formControlName="valeur"> 
                    <input type="button" (click)="onSupprimerAccessoire(i)" class="btn btn-light" value="-">   
                </div>                        
            </div>
            <input type="button" (click)="onAjouterAccessoire()" class="btn btn-dark" value="+"> 
        </div>
    </div>
    <div>
        <input type="submit" value="Modifier" [disabled]="carForm.invalid" class="btn btn-warning">
    </div>
</form>



