<div class="container">
    <h3>Voiture num : {{position +1}}</h3>
    <div class="d-flex justify-content-between">
        <div>
            <img [src]="car.photo" alt="photo">
            <strong>Marque</strong>: {{car.infos.marque}}
            <strong>Modèle</strong>: {{car.infos.modele}}  
        </div>
        <div>
            <button type="button" [routerLink]="['/admin/cars', car.id]" class="btn btn-success">
                <i class="fa-solid fa-circle-info"></i> 
                Détails  
            </button>
            <button type="button" (click)="onSupprimer(car.id)" class="btn btn-secondary">
                <i class="fa-solid fa-trash-can"></i>
                Supprimer
            </button>
        </div>  
    </div>
  
</div>


